<ion-header >
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Super Secret :)</ion-title>
    </ion-toolbar>
    </ion-header>
<ion-content>
    <form (ngSubmit)="submitForm()">
        <ion-item-divider>
            <ion-label color="danger">
                Allgemeine Infos
            </ion-label>
        </ion-item-divider>
        <ion-item>
            <ion-label position="stacked">Name</ion-label>
            <ion-input type="text" [(ngModel)]="villain.name" name="name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Alias</ion-label>
            <ion-input type="text" [(ngModel)]="villain.alias" name="alias"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Bio</ion-label>
            <ion-input type="text" [(ngModel)]="villain.bio" name="bio"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Planet</ion-label>
            <ion-input type="text" [(ngModel)]="villain.planet" name="planet"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Geschlecht</ion-label>
            <ion-input type="text" [(ngModel)]="villain.gender" name="gender"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Geburtstag</ion-label>
            <ion-input type="date" [(ngModel)]="villain.birthday" name="birthday"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Website</ion-label>
            <ion-input type="text" [(ngModel)]="villain.website" name="website"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Website Name</ion-label>
            <ion-input type="text" [(ngModel)]="villain.website_name" name="website_name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Bild url</ion-label>
            <ion-input type="text" [(ngModel)]="villain.img" name="img"></ion-input>
        </ion-item>
        <ion-item-divider>
            <ion-label color="danger">
                Stats
            </ion-label>
        </ion-item-divider>
        <ion-item>
            <ion-label position="stacked">Stärke</ion-label>
            <ion-input type="number" [(ngModel)]="villain.strength" name="strength"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Defensive</ion-label>
            <ion-input type="number" [(ngModel)]="villain.defense" name="defense"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Mana</ion-label>
            <ion-input type="number" [(ngModel)]="villain.mana" name="mana"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Leben</ion-label>
            <ion-input type="number" [(ngModel)]="villain.health" name="heakth"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Bösigkeitslevel</ion-label>
            <ion-input type="number" [(ngModel)]="villain.evil_level" name="evil_level"></ion-input>
        </ion-item>
        <ion-button color="secondary" expand="full" type="submit">put the data in</ion-button>
    </form>
</ion-content>